<template>
<div v-loading="loadingDeps">
  <el-tree :data="depsData" :props="config" lazy :load="handlePackageClick" :render-content="renderPackageName" empty-text=""></el-tree>
</div>
</template>

<script>
import api from '../api';

export default {
  props: ['packageName'],
  data() {
    return {
      depsData: [],
      loadingDeps: false,
      config: {
        isLeaf: 'leaf'
      }
    };
  },
  watch: {
    /**
     * Queries for new package data upon packageName change.
     * @param {string} newVal - The new packageName value.
     * @param {string} newVal - Theo old packageName value.
     */
    packageName: function(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.loadingDeps = true;
        api.getPackage(newVal).then(deps => {
          this.loadingDeps = false;
          this.depsData = this.formatDepsData(deps);
        });
      }
    }
  },
  methods: {
    /**
     * Handles package tree node click.
     * @param {object} node - A node representing the tree node.
     * @param {function} resolve - Function to pass the data to be added as children for the node.
     */
    handlePackageClick(node, resolve) {
      if (node.data.label) {
        api.getPackage(node.data.label, node.data.version).then(deps => {
          const depsData = this.formatDepsData(deps);
          resolve(depsData);
        });
      }
    },
    /**
     * Format the dependency data for the tree component.
     * @param {object} deps - The dependencies object to format.
     * @returns {array} Array contains formatted dependency objects.
     */
    formatDepsData(deps) {
      if (Object.keys(deps).length === 0) return [{ label: 'No dependencies found.', leaf: true }];

      // Convert the dependency names to array.
      const depNames = Object.keys(deps);
      const formattedData = depNames.map(depName => ({
        label: depName,
        version: deps[depName]
      }));
      return formattedData;
    },
    /**
     * Format the displayed package name on the tree.
     * @param {function} h - A function the generates HTML structures.
     * @param {object} details.data - Contains data about the current rendered node.
     * @returns {VNode} - A virtual DOM node for the package name.
     */
    renderPackageName(h, { data }) {
      let text = `${data.label}`;
      if (data.version) text += `@${data.version}`;

      return h('span', null, text);
    }
  }
};
</script>
