<template>
  <Form @submit.prevent="submitPackage">
    <el-input placeholder="Package Name" v-model="packageName"></el-input>
    <el-button type="primary" class="submit-btn" @click="submitPackage">View Dependencies</el-button>
  </Form>
</template>

<script>
export default {
  data() {
    return {
      packageName: ''
    };
  },
  methods: {
    submitPackage() {
      this.$emit('submitPackageName', this.packageName);
    }
  }
};
</script>

<style>
.el-button.submit-btn {
  width: 100%;
  margin: 10px 0;
}
</style>
