<template>
  <div class="app">
    <img src="./assets/npm-logo.svg" class="logo">
    <div>
      <PackageForm @submitPackageName="updatePackageName"/>
      <PacakgeTree :packageName="packageName"/>
    </div>
  </div>
</template>

<script>
import PackageForm from './components/PackageForm';
import PacakgeTree from './components/PackageTree';

export default {
  name: 'App',
  data() {
    return { packageName: '' };
  },
  components: { PackageForm, PacakgeTree },
  methods: {
    updatePackageName(name) {
      this.packageName = name;
    }
  }
};
</script>

<style>
.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 40px auto;
  max-width: 300px;
}

.logo {
  width: 300px;
  margin: 30px 0;
}
</style>
